//
   Created by shi on 2016/8/20.

extends layout

block content
    div(class='section no-pad-bot')
        div(class='container center')
            img(src='images/404.jpg',width='640'.height='360')
            h3 遁入智瞳
            h4 404 Not Found