//
   Created by shi on 2016/8/18.

section.footer
    footer.page-footer
        div.container
            .row
                div(class='col l6 s8')
                    h5.white-text HeartMusic
                    p(class='grey-text text-lighten-4') 用心倾听音乐
                    p(class='grey-text text-lighten-4',id='txtNetwork')
                div(class='col l4 offset-l2 s4')
                    h5.white-text 链接
                    ul
                        li
                            a(class='grey-text text-lighten-3',href='http://www.github.com/') GitHub
                        li
                            a(class='grey-text text-lighten-3',href='https://ms300.cn/') 作者博客
                        li
                            a(class='grey-text text-lighten-3',href='/admin') 后台登录
        div.footer-copyright
            div.container @2016 Copyright Ms300
                a(class='grey-text text-lighten-4 right') 版权所有
