doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.lug.ustc.edu.cn/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ribbon.css')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#EE6E73')
    link(rel="import",href="/bower_components/paper-audio-player/paper-audio-player.html")

  body
    script(src='//cdn.bootcss.com/jquery/3.1.0/jquery.js')
    script(src='/javascripts/materialize.js')
    script(src='/javascripts/index.js')
    script(src="/bower_components/webcomponentsjs/webcomponents-lite.js")
    nav
        div(class='nav-wrapper container')
            a(href='/')
                img(src='/images/logo.png',width='48',id='logo-img')
                span.brand-logo HeartMusic
            ul(id='nav-mobile',class='right hide-on-med-and-down0')
                li
                    a(href='/history') 往期历史
    block content
    include ./footer.jade
